/* Vungle IEC skeleton */
#vungle-header {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  z-index: 20000; }

#vungle-header a {
  font-size: 1.3em;
  text-shadow: rgba(0, 0, 0, 0.37) 0 1px 2px;
  -webkit-transition: color 0.05s ease-in-out;
  z-index: 200000; }

#vungle-header.portrait-light a {
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.37) 0 1px 2px; }

#vungle-header.portrait-light a:active {
  color: #b4b4b4; }

#vungle-header.portrait-dark a {
  color: #7e7e7e;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; }

#vungle-header.portrait-dark a:active {
  color: #363636; }

#vungle-close {
  width: 30px;
  height: 30px;
  padding: 20px;
  right: 0;
  position: absolute;
  text-align: right; }

#vungle-replay {
  width: 30px;
  height: 30px;
  padding: 20px;
  right: 0;
  position: absolute;
  text-align: right; }

#vungle-footer {
  position: absolute;
  display: block;
  bottom: 0;
  z-index: 9999;
  width: 50px;
  overflow: hidden;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

#vungle-footer span.footer {
  font-size: 40px;
  line-height: 20px;
  display: block; }

#vungle-footer.portrait-center {
  left: 0;
  right: 0;
  margin: auto;
  text-align: center; }

#vungle-footer.portrait-left {
  left: 5px;
  right: auto;
  text-align: left; }

#vungle-footer.portrait-right {
  left: auto;
  right: 5px;
  text-align: right; }

#vungle-footer.portrait-light span {
  color: rgba(255, 255, 255, 0.8); }

#vungle-footer.portrait-dark span {
  color: rgba(126, 126, 126, 0.8); }

@font-face {
  font-family: "vungle-fonticon";
  src: url("vungle-fonticon.eot");
  src: url("vungle-fonticon.eot?#iefix") format("embedded-opentype"), url("vungle-fonticon.woff") format("woff"), url("vungle-fonticon.ttf") format("truetype"), url("vungle-fonticon.svg#vungle-fonticon") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "vungle-fonticon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="vungicon-"]:before,
[class*=" vungicon-"]:before {
  font-family: "vungle-fonticon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.vungicon-arrow-back:before {
  content: "a"; }

.vungicon-arrow-down:before {
  content: "b"; }

.vungicon-arrow-forward:before {
  content: "c"; }

.vungicon-arrow-up:before {
  content: "d"; }

.vungicon-chevron-down:before {
  content: "e"; }

.vungicon-chevron-left:before {
  content: "f"; }

.vungicon-chevron-right:before {
  content: "g"; }

.vungicon-chevron-up:before {
  content: "h"; }

.vungicon-close:before {
  content: "i"; }

.vungicon-download:before {
  content: "j"; }

.vungicon-info:before {
  content: "k"; }

.vungicon-replay:before {
  content: "l"; }

.vungicon-security:before {
  content: "m"; }

.vungicon-star-full:before {
  content: "n"; }

.vungicon-star-half:before {
  content: "o"; }

.vungicon-vungle-creative-labs:before {
  content: "p"; }

.vungicon-vungle:before {
  content: "q"; }

.vungicon-vungle-powered:before {
  content: "r"; }

.vungicon-zoom-in:before {
  content: "s"; }

.vungicon-zoom-out:before {
  content: "t"; }

.layout-1 #logo, .layout-2 #logo {
  width: 40vw;
  height: 40vw;
  top: 5vh;
  left: 17vh; }

.layout-1 #logo img, .layout-2 #logo img {
  max-width: 100%;
  z-index: 100; }

.layout-1 #logo-final, .layout-2 #logo-final {
  width: 40vw;
  height: 20vw;
  top: 8vh;
  left: 0;
  right: 0;
  z-index: 100; }

.layout-1 #reel-layout, .layout-2 #reel-layout {
  width: 95vw;
  height: 95vw;
  top: 43vh;
  left: 0;
  right: 0;
  z-index: -1; }

.layout-1 #win-counter, .layout-1 #win-counter-final, .layout-2 #win-counter, .layout-2 #win-counter-final {
  width: 100vw;
  height: 20vw;
  top: 10vh;
  left: 0;
  right: 0;
  z-index: -1; }

.layout-1 #win-counter-background, .layout-1 #win-counter-background-final, .layout-2 #win-counter-background, .layout-2 #win-counter-background-final {
  width: 100vw;
  height: 20vw;
  left: 0;
  right: 0;
  top: 78vh;
  z-index: -1; }

.layout-1 #coin-effect-area, .layout-2 #coin-effect-area {
  width: 100%;
  height: 55vh;
  top: 15vh; }

.layout-1 #coin-cascade-area, .layout-2 #coin-cascade-area {
  width: 100%;
  height: 8vh;
  top: 0;
  left: 0;
  right: 0; }

.layout-1 #coin-stack-area, .layout-2 #coin-stack-area {
  width: 90%;
  height: 15vh;
  bottom: 0;
  left: 0;
  right: 0; }

.layout-1 #win-message-container, .layout-2 #win-message-container {
  left: 0;
  right: 0;
  top: 35vw;
  width: 95%;
  height: 50%; }

.layout-1 #spin-overlay, .layout-2 #spin-overlay {
  width: 95vw;
  height: 47.5vw;
  left: 0;
  right: 0;
  top: calc(23.5vh + 47.5vw);
  pointer-events: none; }

.layout-1 #bottom-container, .layout-2 #bottom-container {
  width: 100%;
  height: 25%;
  bottom: 0; }

.layout-1 #bottom-container #client-footer, .layout-2 #bottom-container #client-footer {
  bottom: 8%;
  height: 50%;
  width: 70%;
  left: 0;
  right: 0; }

.layout-1 #cta-container, .layout-1 #cta-container-final, .layout-2 #cta-container, .layout-2 #cta-container-final {
  width: 60%;
  height: 8%;
  left: 10vw;
  right: 0;
  bottom: 3%; }

.layout-1 #cta-container-final, .layout-2 #cta-container-final {
  bottom: 13%;
  left: 20vw;
  z-index: 999; }

.layout-2 #spin-button {
  top: 18vh;
  right: 0;
  left: -10vw;
  width: 100vw;
  height: 20vw;
  z-index: 1; }

#vungle-close {
  opacity: 0;
  pointer-events: none; }

#vungle-close.visible {
  opacity: 1;
  pointer-events: all; }

@media all and (orientation: landscape) {
  .layout-1 #logo, .layout-2 #logo {
    width: 28vw;
    height: 28vw;
    right: -50vw;
    top: 30vh; }
  .layout-1 #logo-final, .layout-2 #logo-final {
    width: 20vw;
    top: 5vh;
    left: auto;
    right: 2.5vw; }
  .layout-1 #reel-layout, .layout-2 #reel-layout {
    width: 42vw;
    height: 28vw;
    left: 8vw;
    right: auto;
    top: 63vh;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); }
  .layout-1 #win-counter, .layout-1 #win-counter-final, .layout-2 #win-counter, .layout-2 #win-counter-final {
    width: 35vw;
    height: 10vw;
    left: auto;
    right: 5vw;
    top: 20vh; }
  .layout-1 #win-counter-background, .layout-1 #win-counter-background-final, .layout-2 #win-counter-background, .layout-2 #win-counter-background-final {
    width: 55vw;
    left: -42vw; }
  .layout-1 #coin-effect-area, .layout-2 #coin-effect-area {
    width: 75vw;
    height: 55vw;
    top: 3vh; }
  .layout-1 #coin-cascade-area, .layout-2 #coin-cascade-area {
    width: 80vw;
    left: 0;
    right: 0; }
  .layout-1 #coin-stack-area, .layout-2 #coin-stack-area {
    width: 50vw;
    left: 0;
    right: 0; }
  .layout-1 #spin-overlay, .layout-2 #spin-overlay {
    width: 50vw;
    left: 0;
    right: auto; }
  .layout-1 #spin-button, .layout-2 #spin-button {
    width: 50%; }
  .layout-1 #win-message-container, .layout-2 #win-message-container {
    width: 50vw;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 2vw;
    right: auto; }
  .layout-1 #bottom-container, .layout-2 #bottom-container {
    width: 45%;
    left: auto;
    right: 0; }
  .layout-1 #bottom-container #client-footer, .layout-2 #bottom-container #client-footer {
    height: 100%; }
  .layout-2 #spin-overlay {
    left: auto;
    right: 0;
    top: 40%; }
  .layout-2 #spin-button {
    top: 0%; } }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-width: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../assets/bg.jpg);
  background-color: #333; }

canvas {
  display: block;
  cursor: none; }

a {
  text-decoration: none; }

#bottom-container {
  position: absolute;
  transition: all 0.2s ease-in-out; }

#bottom-container #client-footer {
  position: absolute;
  text-align: center;
  margin: auto;
  z-index: 900; }

#bottom-container #client-footer img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

#bottom-container.full {
  opacity: 0; }

.preload-font {
  position: absolute;
  bottom: -1000%; }

/*
 * IEC elements (not being used in the canvas) ------------------------------------------------------------
 */
.item {
  position: absolute;
  margin: auto; }

.item img {
  width: 100%; }

#frame {
  z-index: 100;
  width: 100vw;
  top: 10vw; }

/*
 * PIEC elements sizing and positioning -------------------------------------------------------------------
 */
.layout-item {
  position: absolute;
  margin: auto;
  z-index: 20;
  pointer-events: none; }

#game {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  z-index: 10; }

#spin-button img {
  width: 100%; }

/* Debug mode settings for PIEC containers ---------------------------------------------------*/
.debug #logo {
  background: lightcoral;
  opacity: .3;
  border: 1px solid white; }

.debug #logo-final {
  background: lightcoral;
  opacity: .5;
  border: 1px solid white; }

.debug #cinderella-container {
  background: rgba(0, 200, 0, 0.25);
  border: 1px solid white; }

.debug #reel-layout {
  background-color: rgba(254, 66, 66, 0.25);
  border: 1px solid white; }

.debug #win-counter, .debug #win-counter-final {
  background-color: lightyellow;
  opacity: 0.4;
  border: 1px solid white; }

.debug #coin-effect-area {
  background-color: lawngreen;
  opacity: 0.4;
  border: 1px solid white; }

.debug #coin-cascade-area {
  background-color: fuchsia;
  opacity: 0.4;
  border: 1px solid white; }

.debug #coin-stack-area {
  background-color: gold;
  opacity: 0.4;
  border: 1px solid white; }

.debug #win-counter-background, .debug #win-counter-background-final {
  background-color: cyan;
  opacity: 0.4;
  border: 1px solid white; }

.debug #win-message-container {
  background-color: blue;
  opacity: 0.4;
  border: 1px solid white; }

.debug #spin-overlay {
  background: black;
  opacity: 0.4;
  border: 1px solid white; }

.debug #spin-button {
  background: white;
  opacity: 0.5;
  border: 1px solidbu white; }

.debug #cta-container, .debug #cta-container-final {
  background: pink;
  opacity: 0.5;
  border: 1px solid white; }

/* Overwrite and adjust some of the css settings from the layouts here -----------------------*/
.layout-1 #reel-layout, .layout-2 #reel-layout {
  width: 54.5vh;
  max-width: 74vw;
  max-height: 54vw;
  height: 24vh; }

.layout-1 #win-counter, .layout-1 #win-counter-final, .layout-2 #win-counter, .layout-2 #win-counter-final {
  width: 65vw;
  height: 9.5vw;
  left: 0vw; }

.layout-1 #win-counter-background img, .layout-2 #win-counter-background img {
  width: 100%; }

.layout-1 #win-counter, .layout-2 #win-counter {
  top: 36vh;
  z-index: 100; }

.layout-1 #win-counter-final, .layout-2 #win-counter-final {
  top: 50vh; }

.layout-1 #win-counter-background, .layout-2 #win-counter-background {
  top: 21vh;
  z-index: 100; }

.layout-1 #win-counter-background-final, .layout-2 #win-counter-background-final {
  top: 35vh; }

.layout-1 #spin-overlay, .layout-2 #spin-overlay {
  height: 35.5vw;
  top: calc(23.5vh + 35.5vw); }

.layout-1 #cta-container-final, .layout-2 #cta-container-final {
  width: 70%; }

@media all and (orientation: landscape) {
  .layout-1 #logo-final, .layout-2 #logo-final {
    left: 0;
    right: 0; }
  .layout-1 #reel-layout, .layout-2 #reel-layout {
    width: 45vw;
    height: 28vw; }
  .layout-1 #win-counter, .layout-1 #win-counter-final, .layout-2 #win-counter, .layout-2 #win-counter-final {
    width: 35vw;
    top: 24%;
    left: 11vw;
    right: auto;
    height: 7.5vw; }
  .layout-1 #win-counter-background, .layout-2 #win-counter-background {
    top: 0vh; }
  .layout-1 #win-counter-final, .layout-2 #win-counter-final {
    top: 57%;
    left: 0%;
    right: 0; }
  .layout-1 #win-counter-background-final, .layout-2 #win-counter-background-final {
    top: 33%;
    left: 0;
    right: 0; }
  .layout-1 #cta-container, .layout-2 #cta-container {
    width: 35%;
    height: 20%;
    left: auto;
    right: 8vw;
    bottom: 2%; }
  .layout-1 #cta-container-final, .layout-2 #cta-container-final {
    width: 40%;
    height: 10%;
    left: -10vw;
    right: 0;
    bottom: 0%; }
  .layout-1 #spin-overlay, .layout-2 #spin-overlay {
    width: 45%;
    top: 37%; }
  .layout-1 #spin-button, .layout-2 #spin-button {
    width: 64vw;
    left: -102vw;
    top: 28vh; }
  .layout-1 #tooltip, .layout-2 #tooltip {
    top: 0;
    bottom: 0; } }

/*
 * --------------------------------------------------------------------------------------------------------
 */
#cleopatra-container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 78%;
  height: 76%; }

#tooltip {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 5%;
  height: 40%; }

#cta-background {
  background: #091e3d;
  background: -ms-linear-gradient(#050d1e, #050d1e 3%, #45485b 5%, #050d1e 8%, #091e3d 20%);
  background: -moz-linear-gradient(#050d1e, #050d1e 3%, #45485b 5%, #050d1e 8%, #091e3d 20%);
  background: -webkit-linear-gradient(#050d1e, #050d1e 3%, #45485b 5%, #050d1e 8%, #091e3d 20%);
  background: linear-gradient(#050d1e, #050d1e 3%, #45485b 5%, #050d1e 8%, #091e3d 20%);
  width: 100%;
  height: 32%;
  bottom: 0;
  border-radius: 5px 5px 0px 0px; }

#reel-layout-background {
  width: 70vh;
  max-width: 100vw;
  left: 0;
  right: 0;
  top: 35vh; }

@media all and (orientation: landscape) {
  #reel-layout-background {
    width: 60vw;
    left: 0vw;
    right: auto;
    top: 54vh;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  #cta-background {
    width: 100%;
    height: 40%;
    left: auto;
    right: 0; } }

@media all and (min-width: 768px) and (orientation: portrait) {
  .layout-2 #logo {
    width: 30vw;
    left: 35vw; }
  .layout-2 #logo-final {
    width: 50vw;
    top: 10vh; }
  .layout-2 #spin-overlay {
    width: 73vw;
    height: 19.5vw; }
  .layout-2 #reel-layout {
    width: 68vw;
    height: 45vw; }
  .layout-2 #reel-layout-background {
    width: 85vw; }
  .layout-2 #cta-container {
    width: 50%;
    left: 0; }
  .layout-2 #cta-container-final {
    width: 60%;
    left: 10vw;
    bottom: 16%; }
  .layout-2 #win-counter-background {
    width: 78vw; }
  .layout-2 #win-counter {
    width: 45vw;
    height: 9vw;
    left: 0vw;
    top: 36vh; }
  .layout-2 #win-counter-final {
    top: 53vh; }
  .layout-2 #coin-effect-area {
    width: 85%; }
  .layout-2 #coin-cascade-area {
    width: 90%; }
  .layout-2 #coin-stack-area {
    width: 70%; }
  .layout-2 #tooltip {
    bottom: 29%; }
  .layout-2 #spin-button {
    left: -12vw;
    top: 14vh;
    width: 88vw; } }

@media all and (min-width: 768px) and (orientation: landscape) {
  .layout-2 #logo {
    width: 35vw; }
  .layout-2 #win-counter {
    top: 38vh; }
  .layout-2 #win-counter-background {
    top: 20vh; }
  .layout-2 #win-counter-final {
    top: 51%; }
  .layout-2 #reel-layout {
    top: 67vh; }
  .layout-2 #reel-layout-background {
    top: 59vh; }
  .layout-2 #spin-button {
    top: 30vh; }
  .layout-2 #cta-container-final {
    bottom: 16%; } }

@media all and (orientation: landscape) {
  #vungle-header.landscape-light a {
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.37) 0 1px 2px; }
  #vungle-header.landscape-light a:active {
    color: #b4b4b4; }
  #vungle-header.landscape-dark a {
    color: #7e7e7e;
    text-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px; }
  #vungle-header.landscape-dark a:active {
    color: #363636; }
  #vungle-footer.landscape-center {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
  #vungle-footer.landscape-left {
    left: 5px;
    right: auto;
    text-align: left; }
  #vungle-footer.landscape-right {
    left: auto;
    right: 5px;
    text-align: right; }
  #vungle-footer.landscape-light span {
    color: rgba(255, 255, 255, 0.8); }
  #vungle-footer.landscape-dark span {
    color: rgba(126, 126, 126, 0.8); }
  #level-complete {
    width: 40%; } }

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(5deg); }
  50% {
    -webkit-transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(5deg); } }

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  5%,
  10% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  15%,
  25%,
  35%,
  45% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  20%,
  30%,
  40% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes fall {
  from {
    -webkit-transform: translate(-50%, -50%);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    /* easeOutQuad */ }
  35% {
    -webkit-transform: translate(-50%, 8%);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 1;
    /* easeOutQuad */ }
  85% {
    -webkit-transform: translate(-50%, 8%);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    opacity: 1;
    /* easeInQuad */ }
  to {
    -webkit-transform: translate(-50%, 100%);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    /* easeOutQuad */ } }

@-webkit-keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
