.layout-1, .layout-2 {

	#logo {
		width: 15vw;
		height: 15vw;
		top: 3vh;
		left: 3vh;
		// right: 0;
	}

	#logo img{
		max-width: 100%;
		z-index: 100;
	}


	#logo-final {
		width: 30vw;
		height: 10vw;
		top: 45vh;
		left: 0;
		right: 0;
		z-index: 100;
	}

	#reel-layout {
		width: 95vw;
	    height: 95vw;
	    top: 43vh;
	    left: 0;
	    right: 0;
	    z-index: -1;
	}

	#win-counter, #win-counter-final{
		// width: 70vw;
	 //    height: 15vw;
	 //    left: 0;
	 //    right: 0;
	 //    top: 77vh;

	 	width: 100vw;
		height: 20vw;
		top: 10vh;
		left: 0;
		right: 0;
		z-index: -1;
	}

	#win-counter-background, #win-counter-background-final {
		width: 100vw;
	    height: 20vw;
	    left: 0;
	    right: 0;
	    top: 78vh;
	    z-index: -1;
	}

	#coin-effect-area {
	    width: 100%;
	    height: 55vh;
	    top: 15vh;
	}

	#coin-cascade-area {
		width: 100%;
	    height: 10vh;
	    top:0;
	    left:0;
	    right: 0;
	}

	#coin-stack-area {
	    width: 90%;
	    height: 15vh;
	    bottom: 0;
	    left: 0;
	    right: 0;
	}

	#win-message-container {
	    left: 0;
	    right: 0;
	    top: 35vw;
	    width: 95%;
	    height: 50%;
	}

	#spin-overlay {
	    width: 95vw;
	    height: 47.5vw;
	    left: 0;
	    right: 0;
	    top: calc(23.5vh + 47.5vw);
	    pointer-events: none;
	}

	#bottom-container{
		width: 100%;
	    height: 25%;
	    bottom: 0;
	}

	#bottom-container #client-footer {
		bottom: 8%;
    	height: 50%;
    	width: 70%;
	    left: 0;
	    right: 0;
	}

	#cta-container, #cta-container-final {
		width: 47%;
		height: 8%;
		left: 4vw;
		right: 0;
		bottom: 3%;
	}

	#cta-container-final {
		bottom: 13%;
		left: 0;
		z-index: 999;
	}

}

.layout-2 {
	#spin-button {
		top: 19vh;
		right: 0;
		left: -10vw;
	    width: 100vw;
	    height: 20vw;
	    z-index: 1;
	}
}

@media all and (orientation: landscape) {
	.layout-1, .layout-2 {
		#logo {
			width: 18vw;
			height: 18vw;
			right: -55vw;
			top: 30vh;
		}
		#logo-final {
			width: 20vw;
			top: 5vh;
			left: auto;
			right: 2.5vw;
		}
		#reel-layout{
			width: 42vw;
			height: 28vw;
			left: 8vw;
			right: auto;
			top: 61vh;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}
		#win-counter, #win-counter-final{
			width: 35vw;
			height: 10vw;
			left: auto;
			right: 5vw;
			top: 20vh;
		}
		#win-counter-background, #win-counter-background-final {
			width: 60vw;
			left: -42vw;
			// right: 0;
			// top: 45vh;
		}

		#coin-effect-area {
			width: 55vw;
			height: 55vw;
			top: 3vh;
		}

		#coin-cascade-area {
			width: 80vw;
			left: 0;
			right: 0;
		}

		#coin-stack-area {
			width: 50vw;
			left: 0;
			right: 0;
		}

		#spin-overlay {
			width: 50vw;
			left: 0;
			right: auto;
		}

		#spin-button {
			width: 50%;
		}

		#win-message-container {
			width: 50vw;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			left: 2vw;
			right: auto;
		}

		#bottom-container {
			width: 45%;
			left: auto;
			right: 0;
		}

		#bottom-container #client-footer {
			height: 100%;
		}
	}
	.layout-2{
		#spin-overlay {
			left: auto;
			right: 0;
			top: 40%;
		}
		#spin-button {
			top: 0%;
		}
	}
}